<app-header></app-header>
<ion-content>
  <div class="d-flex-center">
    <form
      [formGroup]="credentials"
      (ngSubmit)="login()"
      (keypress.enter)="login()"
      class="auth-form"
    >
      <app-custom-input
        icon="mail-outline"
        type="email"
        [controlName]="credentials.controls.email"
        label="Correo"
        autocomplete="autocomplete"
      ></app-custom-input>
      <div
        class="validators"
        *ngIf="credentials.controls.email.errors && credentials.controls.email.touched"
      >
        <div *ngIf="credentials.controls.email.errors?.['required']">
          {{"email_required" | translate}}
        </div>
        <div *ngIf="credentials.controls.email.errors?.['email']">
          {{"email_invalid" | translate}}
        </div>
      </div>
      <app-custom-input
        icon="lock-closed-outline"
        type="password"
        [controlName]="credentials.controls.password"
        label="Password"
      ></app-custom-input>
      <div
        class="validators"
        *ngIf="credentials.controls.password.errors && credentials.controls.password.touched"
      >
        <div *ngIf="credentials.controls.password.errors?.['required']">
          {{"password_required" | translate}}
        </div>
        <div *ngIf="credentials.controls.password.errors?.['minlength']">
          {{"password_invalid" | translate}}
        </div>
      </div>
      <ion-button
        type="submit"
        expand="block"
        class="submit"
        [disabled]="!credentials.valid"
        mode="ios"
        >{{ "login" | translate}}
        <ion-icon slot="end" name="log-in-outline"></ion-icon>
      </ion-button>
      <ion-button
        type="button"
        expand="block"
        class="ion-margin-top"
        routerLink="signup"
        mode="ios"
        >{{ "register" | translate}}
        <ion-icon slot="end" name="person-add-outline"></ion-icon>
      </ion-button>
    </form>
  </div>
</ion-content>
