<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title><strong>My App</strong></ion-title>
  </ion-toolbar>
</ion-header>
  <ion-content>
    <div class="d-flex-center">
      <form [formGroup]="credentials" (ngSubmit)="login()" class="auth-form ion-margin-top">
        <ion-item class="ion-margin-bottom">
          <ion-icon slot="start" name="mail-outline"></ion-icon>
          <ion-input
            type="email"
            formControlName="email"
            label="Correo"
            label-placement="floating"
            autocomplete="autocomplete"
          ></ion-input>
          <ion-note
            slot="error"
            *ngIf="(email?.dirty || email?.touched) && email?.errors"
            >Email is incorrect</ion-note
          >
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
          <ion-input
            [type]="type"
            formControlName="password"
            label="password"
            label-placement="floating"
          ></ion-input>
          <ion-button
            (click)="togglePassword()"
            slot="end"
            fill="clear"
            shape="round"
          >
            <ion-icon
              [name]="hide ? 'eye-outline': 'eye-off-outline'"
            ></ion-icon>
          </ion-button>
          <ion-note
            slot="error"
            *ngIf="(password?.dirty || password?.touched) && password?.errors"
            >Password is incorrect</ion-note
          >
        </ion-item>
        <ion-button type="submit" expand="full" class="submit" [disabled]="!credentials.valid"
          >Login
          <ion-icon slot="end" name="log-in-outline"></ion-icon>
          </ion-button
        >
        <ion-button type="button" expand="full"
          class="ion-margin-top" routerLink="signup">Register
          <ion-icon slot="end" name="person-add-outline" ></ion-icon>
          </ion-button
        >

      </form>
    </div>
  </ion-content>

