.d-flex-center {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-image: url('../../../assets/fondo.jpg');
    background-size: cover;
    height: 100vh;
    
}
ion-label{
    color: #f5f5f5;

}