ion-avatar{
  width: 128px;
  height: 128px;
}

.preview{
  margin-top:10px;
  display: flex;
  align-items: flex-start;
}
.fallback{
  width: 128px;
  height: 128px;
  border-radius: 50%;
  background-color: #bfbfbf;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}
.nombre{
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 700;
}
