<app-header [menuButton]="true"></app-header>
    
    <ion-content>
      
      
      <ion-item>
       <ion-label>Get questions</ion-label>
        <ion-buttons slot="end">
          <ion-icon name="cash-outline"></ion-icon>
       <ion-button (click)="goToTrivial()" expand="block" fill="clear" shape="round">
        Go to Trivial
       </ion-button>
        </ion-buttons>
      </ion-item>

    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <div class="name">{{usuario.nombre}}</div>
        </ion-col>
        <ion-col size="12">
          <div class="points">Quiz Money: {{usuario.quizPoints}} €  </div>
        </ion-col>
      </ion-row>

    </ion-grid>

    
</ion-content>
