<app-header title="Perfil" [menuButton]="true"></app-header>
<ion-content class="ion-text-center ion-padding-top">
  <ion-avatar>
    <img *ngIf="user().imageUrl" [src]="user().imageUrl" />
    <ion-icon *ngIf="!user().imageUrl" name="person-circle-outline" class="empty-icon"></ion-icon>
  </ion-avatar>
  <h2>{{user().nombre}}</h2>
  <ion-item button detail (click)="updateUserName()" >
    <ion-icon color="light" slot="start" name="person-outline"></ion-icon>
    <ion-label color="light" >Editar Perfil</ion-label>
  </ion-item>
  </ion-content>
