<app-header title="{{evento ? 'Update' : 'Add'}}" [isModal]="true"></app-header>
<ion-content>
  <form [formGroup]="eventForm" class="ion-padding ion-text-center" (submit)="submitEvent()">
    <ion-avatar *ngIf="eventForm.value.image" class="ion-margin-bottom">
      <img [src]="eventForm.value.image" />
    </ion-avatar>
    <ion-icon *ngIf="!eventForm.value.image" name="image-outline" class="image-icon"></ion-icon>
    <ion-button (click)="takePhoto()" class="photo-btn" shape="round" mode="ios">
      <ion-icon  name="camera-outline"></ion-icon>
    </ion-button>

    <ion-item class="ion-margin-bottom">
      <ion-input
        type="text"
        formControlName="categoria"
        [label]="translate.get('category')"
        label-placement="floating"
        autocomplete="autocomplete"
      ></ion-input>
      <ion-note
        slot="error"
        *ngIf="(categoria?.dirty || categoria?.touched) && categoria?.errors"
        >Name required, min 3 characters</ion-note>
      
    </ion-item>
    <ion-item class="ion-margin-bottom">
      <ion-textarea
        type="text"
        formControlName="descripcion"
        [label]="translate.get('description')"
        label-placement="floating"
      ></ion-textarea>
      <ion-note
        slot="error"
        *ngIf="
          (descripcion?.dirty || descripcion?.touched) && descripcion?.errors
        "
        >Name required, min 3 characters</ion-note
      >
    </ion-item>
    <ion-item class="ion-margin-bottom">
      <ion-input
        type="number"
        formControlName="precio"
        [label]="translate.get('price')"
        label-placement="floating"
      ></ion-input>
    </ion-item>
    <ion-item class="ion-margin-bottom">
      <ion-input
        type="text"
        formControlName="pais"
        [label]="translate.get('country')"
        label-placement="floating"
      ></ion-input>
    </ion-item>
    <ion-button (click)="submitEvent()" class="ion-margin" mode="ios" [disabled]="!eventForm.valid" shape="round" *ngIf="!evento">
      {{ "save" | translate }}
    </ion-button>
    <ion-button (click)="submitEvent()" class="ion-margin" mode="ios" [disabled]="!eventForm.valid" shape="round" *ngIf="evento">
      {{ "edit" | translate }}
    </ion-button>
  </form>
</ion-content>
